.INFORMACION{
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 50%;
    grid-gap: 30px;
}
.derecha{
    color: rgb(8, 10, 13); 
    background-color:rgb(147, 199, 162);
    
    padding: 25px;
}
.izquierda{
    background-color: rgb(65, 158, 160);
    padding: 25px;
}
.foto{
    display: flex;
    justify-content: center;
    padding: 25px;
}
h1{
    font-size:55px;
    justify-content: center;
}
.izquierda h2{
    font-size: 27px;
    background-color: rgb(147, 199, 162);
    border-bottom-right-radius: 27px;
    border-top-right-radius: 27px;
}
.titulo{
    
    background-color: rgb(122, 147, 143);
    padding: 35px;
    text-align: center;
}